
  html {
    box-sizing: border-box;
    margin: 10px;
    font-family: "Spectral", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 1.7;
    position: relative;
    
    /* background-image: url('c:\Users\Tina\Desktop\Diplomski\client\src\photos\background.jpg'); */
     background-image: url('c:\Users\Tina\Desktop\Diplomski\client\src\photos\pozadina2.jpg');
     background-size: 1700px 850px; 
   
  }
 
  .body {
    display: block;
   padding: 265px 0; 
  } 
  
  * {
    margin: 0;
    padding: 0;
    
  }

  .main-button {
    /* background-color: rgb(54, 48, 48); */
    background-color: rgb(253, 249, 249);
    color: rgb(29, 26, 26);
    font-weight: bold;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 18px;
    border-radius: 7px;
    border-color: rgb(253, 249, 249);
    padding: 15px 32px;
    margin-top:7px;
    cursor: pointer;
   
  }

  .main-button:hover{
   transform: scale(1.05);
   border-color:rgb(48, 46, 46);
  }
  


