.container {
    display: block;
    text-align: center;
}

.container2 {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
     background-color: rgba(44, 44, 44, 0.8);
    border-radius: 10px;
}
.form_pic{
    background-image: url("c:\Users\Tina\Desktop\Diplomski\client\src\photos\novo.jpg");
    height: fit-content;
}
.form{
    width: 30%;
    padding: 10px; 
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

.titles{
    color: white;
    margin-top:10px;
    margin-bottom: 10px;
    text-shadow: 2px 1px #e5a00d;
}
input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e5a00d;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(44, 44, 44, 0.8);
     
}
.submit{
    background-color:rgb(5, 110, 5);
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
    border:none;
}
.cancel{
    background-color: rgb(240, 38, 38);
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
    border:none; 
   
}

 .cancel:hover{
    opacity:75%; 
    transform: scale(1.05);
}
.submit:hover{
    background-color: rgb(20, 130, 15);
    transform: scale(1.05);
}

.file-upload__icon input[type="file"]{
    background-color: purple;
    display: none;
  }
   
  .file-upload__icon{
      cursor: pointer;
      padding: 12px 20px;
      color: black;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      /* And other properties according to your preference */
  }

  .file-upload__icon> h4{
    margin: 0px;
    text-align: left;
    padding-left:33px; 
    
  }
  .file-upload__icon > img{
    float: left;
    height: 25px;
  }
 