.card1 {
    /* background-color: rgba(82, 81, 78, 0.438); */
   width: 100%;
   /* border: 2px double rgb(5, 110, 5); */
   border-radius: 5px;
   border-style: double;
   display: flex;
   flex-direction: column;
   height: 100%;
   position: relative;
   background: rgba(44, 44, 44, 0.8);
   z-index: 0;
   border: 2px solid rgba(40, 42, 45, 0.9);
}
.edit{
    text-align: center;
}
.edit .title1 {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 5px;   
}

.edit button{
    float: right;
}

.post_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    cursor: pointer;
}

.details{
    margin-left: 15px;
}

.details p{
    font-size: 12px;
    opacity: 70%;
}

.bottom {
    display: inline-block;
    width: 100%;
}

.bottom button { 
   margin-left: auto;
}

.bottom p{
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 15px;
}