.container1{
    margin-top: 90px;
    display: block;
    text-align: center;
    border: 3px solid #e5a00d;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgba(44, 44, 44, 0.8);
    border-radius: 10px;
    
}

.scanner {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 1px #e5a00d;
}

h3{
    color:white;
}




